.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
}
.logo{
    cursor: pointer;
}

ul{
    flex: 1;
    list-style: none;
    text-align: center;
}

ul li{
    display: inline-block;
    margin: 10px 20px; 
    font-size: 30px;
    font:'Segoe UI';
    cursor: pointer;
}
.options{
    font-family:'Segoe UI';
}